img {
  max-width: 100%;
  object-fit: cover;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--base-color);
}

a:hover {
  color: var(--blue-color);
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: $fs-base;
  font-weight: 400;
  line-height: $lh-3xl;
  margin: 0px;
  text-align: justify;
}

