:root {
  --ratio: 1;
  --fs-xs: calc(0.75rem / var(--ratio));
  --fs-s: calc(0.875rem / var(--ratio));
  --fs-base: calc(1rem / var(--ratio));
  --fs-l: calc(1.125rem / var(--ratio));
  --fs-xl: calc(1.25rem / var(--ratio));
  --fs-2xl: calc(1.375rem / var(--ratio));
  --fs-3xl: calc(1.5rem / var(--ratio));
  --fs-4xl: calc(1.625rem / var(--ratio));
  --fs-5xl: calc(1.75rem / var(--ratio));
  --fs-6xl: calc(1.875rem / var(--ratio));
  --fs-7xl: calc(2rem / var(--ratio));
}

//Font Size
$fs-xs: var(--fs-xs);
$fs-s: var(--fs-s);
$fs-l: var(--fs-l);
$fs-xl: var(--fs-xl);
$fs-base: var(--fs-base);
$fs-2xl: var(--fs-2xl);
$fs-3xl: var(--fs-3xl);
$fs-4xl: var(--fs-4xl);
$fs-5xl: var(--fs-5xl);
$fs-6xl: var(--fs-6xl);
$fs-7xl: var(--fs-7xl);

// bg
$bg-base-color: #f0f2f5;
$bg-gray-color: #e4e6eb;
$bg-green-color: #00a400;

// color
$base-color: #000000;
$orange-color: #ffbe61;
$white-color: #ffffff;
$gray-color: #777777;
$blue-color: #0063c3;
$black10-color: #333333;
$hover-color: #b32500;

//line height
$lh-xs: 0.75rem;
$lh-s: 0.875rem;
$lh-l: 1.125rem;
$lh-xl: 1.25rem;
$lh-base: 1rem;
$lh-2xl: 1.375rem;
$lh-3xl: 1.5rem;
$lh-4xl: 1.625rem;
$lh-5xl: 1.75rem;
$lh-6xl: 1.875rem;

//font family
$ff-roboto: "Roboto", sans-serif;
$ff-opensans: "Open Sans", sans-serif;

//background
$bg-white: #ffffff;
$bg-header: #222f3f;

//border
$border-line: #eee;

/* z-index */
$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;

// Responsive Variables
$breakpoints: (
  "small": (
    min-width: 768px,
  ),
  "medium": (
    max-width: 992px,
  ),
  "large": (
    max-width: 1200px,
  ),
  "mobile": (
    max-width: 576px,
  ),
  "tablet": (
    max-width: 768px,
  ),
) !default;

[style*="--aspect"] > :first-child {
  width: 100%;
}

[style*="--aspect"] > img {
  height: auto;
}

@supports (--custom: property) {
  [style*="--aspect"] {
    position: relative;
  }

  [style*="--aspect"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect)));
  }

  [style*="--aspect"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
