@import '../../assets/scss/_variable.scss';

.category {
    &__item {
        font-size: $fs-s;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    &__item {
        font-weight: 400;
    }

    &--active {
        font-weight: 700;
    }

    &--close {
        height: 0;
        overflow: hidden;
    }

    &--open {
        height: auto;
    }
}